{% extends 'base.html.twig' %}

{% block body %}
  <main>
    <section id="img1"></section>

    <section id="logo">
      <img src="/img/logo.jpg" alt="">
      <div id="logotxt">
        <hr>
        <p>FeatnesYou a été créée en 2019 par Younes, dans le but d’apporter aux personnes <br>
           désirant se prendre en main physiquement,une aide professionnelle et personnalisée <br>
           en leur proposant un coach diplômé, expérimenté et passionné. <br>
           Le concept FeantnesYou repose sur les technologies et les valeurs qui font notre succès.</p>
        <hr>
      </div>
    </section>

    <div class="parallax"></div>
        
    <hr id="hr2">
      
    <h1>POURQUOI ME CHOISIR COMME COACH SPORTIF ?</h1>

    <section id="section3">
      <div class="divpk">
        <p>Plus de 1000 personnes coachées</p>
      </div >
      <div class="divpk">
        <p>Un suivi coaching personnalisé avec la technologie InBody</p>
      </div>
      <div class="divpk">
        <p>Des programmes sportifs et alimentaires personnalisés</p>
      </div>
    </section>

    <div id="video">VIDEO</div>
    
  </main>
    
    {% endblock %}