{% extends 'base.html.twig' %}

{% block body %}

    <main id="main">

        <hr id="hr1">

        <h1 class="blanc">N'hésitez pas à me contacter</h1> <br>
        
        <form> 
            <label class="blanc" for="email">Email</label>
            <input type="email" class="form-control" id="email" > <br>
            <label class="blanc" for="prenom">Prénom</label>
            <input type="text" class="form-control" id="prenom"> <br>
            <label class="blanc" for="message">Message</label>
            <input type="text" class="form-control" id="message"> <br>
            <button>Envoyer</button>
        </form> <br>

        <hr id="hr1">

        <section id="info">
            <div class="contact">
                <p>Téléphone</p>
                <p>+352 661 180 501</p>
            </div>
            <div class="contact">
                <p>Adresse</p>
                <p>18 Rue Christophe Plantin, <br>
                    2339 Luxembourg</p>
            </div>   
        </section>
        <section id="carte">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2586.5312599496283!2d6.118866015700373!3d49.58773027936566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479548e1079ad305%3A0x30875a17fb980920!2s18%20Rue%20Christophe%20Plantin%2C%202339%20Luxembourg!5e0!3m2!1sfr!2sfr!4v1646662270832!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </section>
    </main>

{% endblock %}