{% extends 'base.html.twig' %}

{% block body %}

    <main>
        {% for coach in coaches %}
            <tr>
                <td>{{ coach.idCoach }}</td>
                <td>{{ coach.nomCoach }}</td>
                <td>{{ coach.experience }}</td>
                <td>
                   <a href="{{ path('app_coach_show', {'idCoach': coach.idCoach}) }}">Voir</a>
                </td>
        
            </tr>
        {% endfor %}

    </main>

{% endblock %}