{% extends 'base.html.twig' %}

{% block body %}

    <main>
        <section id="img3"></section>

        <h3>UN PROGRAMME SPORTIF PERSONNALISE SELON VOTRE OBJECTIF</h3> <br>

        <hr id="hr2">

        <section class="txtimg">
            <div class="text">
                <h4>Coaching sportif pour la perte de poids</h4> <br>
                <p>Le coaching sportif pour la perte de poids est la chose la plus facile quand on veut obtenir un 
                    physique maigre et tonique. C’est encore plus facile lorsque vous fixez et respectez vos
                    objectifs, mais aussi lorsque vous restez discipliné. Vous pouvez perdre de la graisse plus ou 
                    moins rapidement selon la quantité que vous voulez ou devez perdre. La première chose qu’un
                    coach peut vous suggérer est d’être actif tout au long de la journée. De plus, il vous aidera à 
                    créer un programme équilibré qui implique non seulement du cardio mais aussi de l’exercice
                    physique. <br> <br>
                
                    De plus, la perte de graisse corporelle nécessite un déficit calorique. C’est là que le coaching
                    sportif pour la perte de poids peut être utile, car vous n’avez pas besoin de trouver la 
                    motivation. Votre coach vous guidera tout au long de votre restriction calorique. C’est-à-dire
                    qu’il vous proposera des repas et des collations saines pour rester sur la bonne voie et ne pas
                    trop manger. </p>
            </div>

            <img src="/img/perte de poids.jpg" alt="">
        </section>

        <hr id="hr2">

        <section class="imgtxt">
            <img src="/img/prise de masse.jpg" alt="">
            <div class="text">
                <h4>Coaching sportif pour la prise de masse</h4> <br>
                <p>Si vous voulez gagner du muscle, vous pouvez viser un coaching sportif pour la masse
                    musculaire. Ce service a une approche totalement différente de la perte de poids. Le gain
                    musculaire nécessite une surcharge progressive et un surplus de calories. Votre coach vous 
                    aidera à ajouter progressivement des poids afin de pouvoir soulever des charges plus 
                    lourdes. En fait, cela déterminera le degré de croissance musculaire que vous atteindrez. Si 
                    vous ne souhaitez pas vous entraîner avec des poids, vous pouvez également utiliser des
                    exercices de musculation rythmés et excentriques. <br> <br>
                    
                    Le coaching sportif pour la prise de masse est également utile pour suivre votre apport
                    calorique lorsque vous avez un surplus de calories. Cela signifie que la quantité de calories
                    que vous consommez doit être supérieure aux calories que vous brûlez. Par conséquent, votre
                    coach vous aidera à introduire progressivement chaque semaine les calories que vous 
                    consommez. De cette façon, vous éviterez de « déranger » votre corps en stockant trop de
                    graisse. <br> <br>
                    
                    Le PT vous fera également progresser vers votre objectif en effectuant différents exercices en 
                    jouant sur le rythme et sur la surcharge progressive.
                </p>
            </div>        
        </section>

        <hr id="hr2">

        <section class="txtimg">
            <div class="text">
                <h4>Coaching sportif pour les douleurs chroniques</h4> <br>
                <p>La douleur chronique est une douleur de longue durée. Il existe deux types de douleurs 
                    chroniques : les douleurs nociceptives et les douleurs neuropathiques. La première est
                    associée à des lésions tissulaires et la seconde à un dysfonctionnement du système nerveux. 
                    Ce service est important car les professionnels sont qualifiés pour vous aider à vous entraîner 
                    en tenant compte de votre passé médical. Les blessures et les douleurs sont souvent
                    sous-estimées, surtout chez les personnes qui s’entraînent souvent ou qui font un travail 
                    physique. <br> <br>
                    
                    De plus, les gens pensent souvent que plus ils ressent de la douleur plus ils sont bien
                    entrainés. Toutefois, si vous ressentez des douleurs, vous devriez envisager d’arrêter de faire
                    de l’exercice. Ensuite, vérifiez ce qui ne va pas avec votre coach et votre médecin généraliste. 
                    Il est important d’identifier immédiatement les douleurs chroniques. Si la douleur est
                    insupportable et/ou dure trop longtemps, consultez un professionnel de la santé. Plus vous la
                    négligez, moins vous avez de chances de récupérer. <br> <br>
                    
                    C’est pourquoi un coaching sportif pour les douleurs chroniques est essentiel. Votre 
                    récupération sera plus efficace, et vous apprendrez à faire des exercices sans avoir mal. 
                    De plus, grâce au coaching contre la douleur chronique, vous serez en mesure de prévenir
                    de futures blessures.
                </p>
            </div>
            <img src="/img/douleurs.png" alt="">
        </section>

        <hr id="hr2">

        <section class="imgtxt">
            <img src="/img/femme.jpg" alt="">
            <div class="text">
                <h4>Coaching sportif pour femmes</h4> <br>
                <p>Le coaching sportif féminin convient aux femmes qui ne se sentent pas à l’aise lorsqu’elles
                    s’entraînent en présence d’hommes. Que ce soit pour des raisons personnelles ou par 
                    conviction, le coaching sportif féminin permet aux femmes de s’entraîner en tête-à-tête avec
                    une femme. Il permet de se sentir à l’aise pour s’entraîner et de pouvoir s’habiller comme on 
                    veut sans se sentir observée. <br> <br>
                    
                    Le coaching féminin est en fait bénéfique dans la mesure où les femmes comprennent le corps 
                    de l’autre. Une coach sportive sera en mesure d'adapter votre programme d’entraînement en
                    tenant compte de nombreux aspects. Elle l’adaptera en fonction de votre cycle menstruel et 
                    de vos douleurs par exemple. En outre, vous parviendrez à partager plus facilement vos
                    problèmes personnels avec une femme et, dans l’ensemble, à lui parler confortablement.
                </p>
            </div>
        </section>

        <hr id="hr2">

        <section class="txtimg">
            <div class="text">
                <h4>Coaching sportif pour athlètes</h4> <br>
                <p>Le coaching sportif pour athlètes permet à ces derniers d’être en bonne condition physique 
                    pour leurs compétitions. Cela leur permettra de minimiser le risque de blessure grâce à l’aide
                    d’un coach sportif. Ce service est le meilleur moyen d’être performant et de connaître ses points forts et ses 
                    points faibles. <br> <br>
                    
                    Les athlètes doivent s’améliorer afin de maximiser leurs chances de gagner et d’être plus
                    performants. Et quelle meilleure façon de le faire si ce n’est en ayant un coach pour vous
                    guider ? Bien que vous puissiez avoir plusieurs années d’expérience dans votre domaine, 
                    votre coach vous aidera à améliorer vos performances. En fin de compte, votre coach peut 
                    suivre et noter vos progrès et vos erreurs pour vous permettre de vous développer.
                </p>
            </div>
            <img src="/img/athletes.png" alt="">
        </section>

        <hr id="hr2">

        <section class="imgtxt">
            <img src="/img/groupe.jpg" alt="">
            <div class="text">
                <h4>Coaching sportif pour partenaires et pour les groupes</h4> <br>
                <p>Jusqu’à présent, nous avons vu différents types de services de coaching sportif. Vous vous 
                    demandez peut-être comment un coaching de groupe peut être personnel ? Et bien, certaines
                    personnes partagent les mêmes objectifs, de sorte que vous pourriez rejoindre un service de 
                    coaching de groupe qui correspond à vos objectifs personnels. <br> <br>
                    
                    Si vous avez un partenaire ou un ami qui partage les mêmes objectifs que vous, vous pourriez
                    trouver un coach sportif ensemble. Non seulement vous pourrez vous motiver mutuellement,
                    mais le prix sera également abordable.
                    </p>
            </div>
        </section>

        <hr id="hr2">

        <section class="txtimg">
            <div class="text">
                <h4>Coaching sportif pour seniors</h4> <br>
                <p>Nous avons vu de nombreux types de services de coaching sportif concernant le physique et
                    le sport en général. Cependant, nous ne devons pas oublier les personnes âgées. En fait,
                    il n’y a absolument aucun âge pour commencer à s’entraîner ! <br> <br>
                    
                    Le coaching sportif des personnes âgées est essentiel pour conserver la masse musculaire, 
                    l’élasticité et la mobilité. Les personnes âgées devraient s’entraîner pour garder leur cœur 
                    en bonne santé, car elles sont souvent plus fatiguées et essoufflées. De plus, des études ont
                    prouvé que l’entraînement les aidera à prévenir certaines maladies chroniques et à améliorer 
                    leur comportement social. La meilleure partie de ce service pour  seniors est le confort et
                    la tranquillité. Ce service peut être fourni à domicile, dans un parc ou dans leur maison de
                    retraite. Il vous permettra (à vous ou à votre proche) de vous entraîner dans un endroit 
                    relaxant où vous vous sentirez en sécurité.
                </p>
            </div>
            <img src="/img/senior.jpg" alt="">
        </section>

    </main>

{% endblock %}