<form method="post" action="{{ path('app_photo_delete', {'idPhoto': photo.idPhoto}) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ photo.idPhoto) }}">
    <button class="btn">Delete</button>
</form>
