{% extends 'base.html.twig' %}

{% block title %}Edit Photo{% endblock %}

{% block body %}

<link rel="stylesheet" href="{{ asset('css/style_crud.css') }}"/>

    <h1>Modifier photo</h1>

    {{ include('photo/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('photo/_delete_form.html.twig') }}

    <a href="{{ path('app_photo_index') }}">Retour à la liste</a>
{% endblock %}
