{% extends 'base.html.twig' %}

{% block title %}New Photo{% endblock %}

{% block body %}

<link rel="stylesheet" href="{{ asset('css/style_crud.css') }}"/>

    <h1>Ajouter une nouvelle photo</h1>

    {{ include('photo/_form.html.twig') }}

    <a href="{{ path('app_photo_index') }}">Retour à la liste</a>
{% endblock %}
