<form method="post" action="{{ path('app_diplome_delete', {'idDiplome': diplome.idDiplome}) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ diplome.idDiplome) }}">
    <button class="btn">Delete</button>
</form>
