<form method="post" action="{{ path('app_coach_delete', {'idCoach': coach.idCoach}) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ coach.idCoach) }}">
    <button class="btn">Supprimer</button>
</form>
