{% extends 'base.html.twig' %}

{% block title %}New Coach{% endblock %}

{% block body %}

<link rel="stylesheet" href="{{ asset('/css/style_crud.css') }}"/>

    <h1>Ajouter un nouveau Coach</h1>

    {{ include('coach/_form.html.twig') }}

    <a href="{{ path('app_coach_index') }}">Retour à la liste</a>
{% endblock %}
